@import url("https://fonts.googleapis.com/css?family=PT+Sans|Raleway");
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: #f8f9fa !important;
}


/*NAVIGATION BAR*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    font-family: "PT Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    background: #ffffff;
}

nav .container {
    display: flex;
}

nav .nav__left {
    flex-grow: 3;
    display: flex;
}

nav .nav__right {
    flex-grow: 2;
    display: flex;
    flex-direction: row-reverse;
}

nav li a {
    color: #a6a6a6;
    display: block;
    padding: 7px 7px;
    transition: all 150ms ease-out;
}

nav li a:hover {
    text-decoration: none;
    color: #333;
}

nav li a:focus {
    text-decoration: none;
}

nav li a i {
    margin-right: 4px;
}

.title h1 {
    text-align: center;
}

@media screen and (max-width: 766px) {
    .search {
        margin-top: 5px;
    }
}

@media screen and (max-width: 556px) {
    .search {
        margin-bottom: 10px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 434px) {
    .fa {
        margin: auto;
    }
    nav li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 336px) {
    nav li a {
        font-size: 11px;
    }
}

@media screen and (max-width: 312px) {
    nav li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 294px) {
    nav li a {
        font-size: 9px;
    }
}


/*MAIN PAGE*/

.categ {
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.categ:hover {
    background-color: white;
    border: 2px solid darkgrey;
}

.shadow {
    box-shadow: 0 4px 2px -2px gray;
}

.featured-text {
    color: darkgrey;
}

@media screen and (max-width: 575px) {
    .searchbutton {
        width: 100%;
    }
}

.img-carousel {
    min-width: 800px;
}

@media (max-width: 768px) {
    .carousel .carousel-inner .item {
        min-height: 500px;
    }
}


/*PRODUCT LIST*/

.product-list {
    background-color: white;
}


/*PRODUCT ITEM*/

.product {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    transition: all 200ms ease-in;
}

.product:hover {
    transform: scale(1.1) translateY(-15px);
    box-shadow: 7px 9px 18px -2px rgba(61, 61, 61, 1);
}

.product-link {
    display: block;
    color: #3d3d3d;
}

.product-link:hover {
    color: #3d3d3d;
    text-decoration: none;
}

.product .product__image {
    width: 100%;
}

.product__image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product__description {
    width: 100%;
}

.product__description small {
    color: #808080;
}

.product__description h4 {
    margin: 3px 0 5px 0;
}

.product__price-cart {
    display: flex;
    margin-top: 10px;
}

.product__price-cart p {
    flex-grow: 2;
    font-size: 20px;
    font-weight: bold;
}


/*Footer*/

footer {
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.line {
    margin: 0 0 1em;
    line-height: 2em;
    padding: 0;
    color: black;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.5em;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.line:before,
.line:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-left: -999em;
    height: 2px;
    width: 998em;
    border-top: 1px solid black;
    background: rgba(0, 0, 0, 0.2);
}

.line:after {
    left: auto;
    width: 999em;
    margin: 0 0 0 1em;
}


/*SHOP*/

.sidebar {
    height: 200%;
}

.shoplist {
    background-color: white;
    border: 1px solid lightgrey;
}

#total {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.checkout-shipping-line {
    border-bottom: 1px solid black;
}

.cart-card-line {
    border-top: 1px solid lightgrey;
}


/*PROFILE*/

.fa-sign-out {
    color: lightgrey;
}

.profile-sidebar {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 25px;
}


/*Loader overlay*/

.overlay {
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.spinner {
    margin-top: 25%;
}